In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [11]:
try:
    df = pd.read_csv(r"C:\Users\Administrator\Desktop\LuxDev DataScience\train_data_cross-sell.csv", encoding="latin1")
    
except Exception as e:
        print(f"Error reading file:{e}")
df.head()

,ÿid,Gender,Customer_Date_of_Birth,Driving_License,Customer_Residence_Sub_County,Previously_Insured,Vehicle_Year_of_Manufacture,Vehicle_Damage,Annual_Premium,Agent_name,Life_policy_start_date,Response
0,549771831,Male,"Monday, March 7, 1977",1,EMBAKASI,0,2020,Yes,38294,Jomo Kenyatta,"Thursday, December 21, 2023",1
1,373583351,Male,"Sunday, December 29, 2002",1,WESTLANDS,1,2020,No,28619,Obiero Ochieng,"Wednesday, June 28, 2023",0
2,933163655,Female,"Tuesday, August 23, 1994",1,DAGORETTI,1,2011,No,27496,Obiero Ochieng,"Saturday, December 9, 2023",0
3,698942186,Female,"Thursday, November 18, 1999",1,JUJA,0,2020,Yes,2630,Gitonga Mwangi,"Tuesday, July 25, 2023",0
4,515109822,Male,"Thursday, February 22, 2001",1,WESTLANDS,0,2015,Yes,23367,Obiero Ochieng,"Saturday, May 13, 2023",0

In [27]:
#Converting the DOB into a recognizable date and calculating age/craeting the Age column
df["Customer_Date_of_Birth"] = pd.to_datetime(df["Customer_Date_of_Birth"])
current_year = datetime.now().year
df["Age"] = current_year - df["Customer_Date_of_Birth"].dt.year

In [28]:
mean = df ['Age'].mean()
st = df['Age'].std()

In [21]:
print(mean)

40.191545493210384

In [18]:
print(st)

15.493012154894961

In [26]:
zscore = (65 - 40.2) / 15.5
print(zscore)

1.5999999999999999